body {
  background-color: #f5f5f5;
  min-width: 320px;
}
.category-title {
  position: relative;
}
.category-title > .breadcrumb {
  margin-bottom: 0px;
}
.category-title > .breadcrumb > li::before {
  content: "";
}
.category-title > .breadcrumb > li::after {
  content: ">";
}
#category > .brand-title > .panel-group > .panel-default {
  margin-top: 0;
}
#category > .brand-title > .panel-group > .panel-default > .panel-heading > h4 > a {
  display: block;
  background: url(../images/arrow1.gif) right center no-repeat;
  color: #000;
  padding-left: 16px;
}
