#header {
  height: 44px;
  padding: 10px;
  position: relative;
}
#header > h1 {
  text-align: center;
  font-size: 18px;
  line-height: 44px;
  font-weight: normal;
  margin: -35px 52px;
  height: 44px;
  color: #fff;
}
#header > .back > .icon-back {
  color: #ffffff;
  font-size: 17px;
}
#header > .app {
  position: absolute;
  top: 0;
  right: 10px;
}
#header > .app > img {
  height: 44px;
}
#footer > .row > div {
  text-align: center;
  border: 1px solid #ccc;
  height: 30px;
  line-height: 30px;
}
#footer > .row > div > a > img {
  width: 15px;
  height: 15px;
}
#footer > .row > div + div {
  border-left: 0;
}
#footer > p {
  margin: 5px 0;
  text-align: center;
  font-size: 12px;
}
#footer > p > a:first-child {
  color: red;
}
.link {
  width: 300px;
  margin: 10px auto;
  float: none;
}
.link a {
  padding: 10px 8px;
}
.link a img {
  margin-right: 5px;
}
.link a {
  padding: 10px 8px;
  background: #f4f4f4;
  border: 1px solid #bfbfbf;
  float: left;
  margin: 0 0 5px 5px;
}
